rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    match /products/{productId} {
      // Products are public, anyone can read
      allow read: if true;
      allow write: if true;
    }

    match /orders/{orderId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
